../HELP.md

# ========== MAVEN / JAVA ==========
BackEnd/target/
*.log
*.class
*.jar
*.war
*.ear

# Maven wrapper
!../.mvn/wrapper/maven-wrapper.jar

# Evita rastrear targets dentro de subpastas de src
!**/src/main/**/target/
!**/src/test/**/target/

# ========== SPRING BOOT ==========
spring-boot-devtools.properties
*.env
application.properties
application.yml

# ========== IntelliJ IDEA ==========
.idea/
*.iws
*.iml
*.ipr

# ========== STS (Spring Tool Suite) ==========
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ========== NetBeans ==========
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ========== VS Code ==========
.vscode/

# ========== SISTEMA ==========
.DS_Store
Thumbs.db
desktop.ini

# ========== GIT ==========
*.swp
*.swo
BackEnd/.env
